# Data Collection Checklist

## Prerequisite

It is important to fully understand the principles of "Privacy by Design" to best complete this checklist. Please visit [Data Protocol](https://dataprotocol.com) for prerequisite training courses.

## Introduction

The first experience that an item of data must have is to be collected, which can be defined as the act of creating data values that do not yet exist, **from the perspective of this application**.

For example, there are three common ways that data can be collected:

- Data Acquisition: the ingestion of already existing external data
- Data Entry: the creation of new data specifically for this application
- Signal Reception: the capture of data created by devices, typically important in control systems, but becoming more important for information systems with the Internet of Things

Collected data needs to be viewed as a potential liability and from this perspective should be kept to a minimum at all times.

## Checklist

| Phase | Description | Principles | 
| :---: | :---------- | :--------- |  
{{#checklist}}
{{#idea}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/idea}}
{{#test}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/test}}
{{#production}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/production}}
{{/checklist}}

