# General Checklist

## Prerequisite

It is important to fully understand the principles of "Privacy by Design" to best complete this checklist. Please visit [Data Protocol](https://dataprotocol.com) for prerequisite training courses.

## Introduction

There are some basic considerations before considering any specifics around data lifecycle for specific data objects. These are covered in the general section.

## Checklist

| Phase | Description | Principles | 
| :---: | :---------- | :--------- |  
{{#checklist}}
{{#idea}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/idea}}
{{#test}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/test}}
{{#production}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/production}}
{{/checklist}}

