# Data Maintenence Checklist

## Prerequisite

It is important to fully understand the principles of "Privacy by Design" to best complete this checklist. Please visit [Data Protocol](https://dataprotocol.com) for prerequisite training courses.

## Introduction

Once data has been captured it usually encounters Data Maintenance. This can be defined as the supplying of data to points at which Data Synthesis and Data Usage occur, ideally in a form that is best suited for these purposes.

It often involves tasks such as movement, integration, cleansing, enrichment, changed data capture, as well as familiar extract-transform-load processes.

It is important to ensure all data used by the software is:

- adequate – sufficient to properly fulfil your stated purpose;
- relevant – has a rational link to that purpose; and
- limited to what is necessary – you do not hold more than you need for that purpose.

## Checklist

| Phase | Description | Principles | 
| :---: | :---------- | :--------- |  
{{#checklist}}
{{#idea}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/idea}}
{{#test}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/test}}
{{#production}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/production}}
{{/checklist}}

