# Data Usage Checklist

## Prerequisite

It is important to fully understand the principles of "Privacy by Design" to best complete this checklist. Please visit [Data Protocol](https://dataprotocol.com) for prerequisite training courses.

## Introduction

Data Usage can be defined as the usage of the collected data to implement customer serving feature of the software and/or internal operations within the software itself.

This would normally be tasks outside the data life cycle itself. However, data is becoming more central to business models in many enterprises. For instance, data may itself be a product or service (or part of a product or service) that the business offers.

## Checklist

| Phase | Description | Principles | 
| :---: | :---------- | :--------- |  
{{#checklist}}
{{#idea}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/idea}}
{{#test}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/test}}
{{#production}}
| {{when}} | {{slogan}} | {{#principles}}{{.}}, {{/principles}} |
{{/production}}
{{/checklist}}

